<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список складов логических</title>
</head>

<body>
<h1>Список складов логических</h1>
<hr>

<table>
    <thead>
    <tr>
        <th>Склад</th>
<!--        <th>Номенклатура</th>-->
<!--        <th>Код номенклатуры</th>-->
<!--        <th>Остаток</th>-->
    </tr>
    </thead>

    <tbody>
    <tr th:each="warehouse : ${warehouseList}">
        <td><a th:href="@{/warehouse/{id}(id = ${warehouse.getId()})}"
               th:text="${warehouse.getName()}">mes</a></td>

        <!--        <td><a th:text="${warehouse.getNomenName()}">mes</a></td>-->
<!--        <td><a th:text="${warehouse.getNom_n()}">mes</a></td>-->
<!--        <td><a th:text="${warehouse.getQty()}">type</a></td>-->
    </tr>
    </tbody>
</table>

</body>
</html>